.toolbody {  
  width: 100%;
  min-height: 100vh !important; 
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.tool-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calculator {
  margin: 9px;
}
.tooltitle {
  margin: 30px;
  font-weight: 900;
  text-align: center;
}
#form {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.calculator-input {
  max-width: 500px;
  width: 95%;
  margin: 10px auto;
  border: 1px solid var(--white);
  background: transparent;
  height: 30px;
  color: var(--white);
  outline: none;
  padding: 18px 20px;
  border-radius: 10px;
}
#calculateBtn {
  background: var(--btn-color);
  color: var(--white);
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
}
.result-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#result {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding: 0 10px;
}
.result {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .result-container {
    flex-wrap: wrap;
  }
  #form {
    flex-direction: column;
  }
  #calculateBtn {
    width: 95%;
    margin: 5px auto;
  }
  .result {
    width: 80%;
    margin: auto;
  }
  .header-content {
    margin: 0 15px;
  }
  .toolbody {
    margin: 10px;
  }
 
}

