body, .main {
  overflow-x: hidden;
}
.tool-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tooltitle {
  margin: 30px;
  font-weight: 900;
  text-align: center;
}
#form {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.calculator {
  max-width: 1200px;
}
.calculator-input {
  max-width: 500px;
  width: 93%;
  margin: 10px auto;
  border: 1px solid var(--white);
  background: transparent;
  height: 30px;
  color: var(--white);
  outline: none;
  padding: 18px 20px;
  border-radius: 10px;
}
#calculateBtn {
  background: var(--btn-color);
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 12px;
}
.result-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
#result {
  display: flex;
  justify-content: center;
  width: 100%;
}
.result {
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .calculator {
    width: 100%;
  }
  .calculator-input {
    max-width: none;
    width: 99%;
  }
  #form {
    flex-direction: column;
    width: 100%;
  }
  #form input {
    width: 98%;
  }
  .result {
    width: 98%;
    margin: auto;
    margin-top: 10px;
  }
  .result-container {
    flex-direction: column;
    min-width: 250px;
  }
  .header-content {
    margin: 0 15px;
  }
  .toolbody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
  }
  #calculateBtn {
    width: 93%;
    margin: 5px auto;
  }
}
