#copy-btn {
    width: 25px !important;
    height: 25px !important;
    position: absolute !important;
    background: transparent !important;
    top: 40px !important;
    right: 20px !important;
    cursor: pointer !important;
}